


#section-1{
    color: #333;
    position: relative;
    height: 91vh;
    margin-top: 10px;
    overflow: hidden;
}
.hello{
    border: 1px solid antiquewhite;
    border-radius: 25px;
    width: fit-content;
    padding: 8px 16px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow:inset 0 -4px 3px 0 antiquewhite;
    backdrop-filter: blur(30px);
    background: none;
    margin: 20px 0;
    color: antiquewhite;
}
#section-1 h1{
    font-size: clamp(2rem, 5vw, 4rem);
    color: antiquewhite;
}
#section-1 span{
    color: #4343df;
    font-style: italic;
}
.profile{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    padding-right: 30px;
    width: 100%;
    height: calc(100vh - (30vh + 276px));
}
.profile p:first-child{
    margin-top: 20px;
    font-size: 16px;
    padding-left: 30px;
}
.experience{
    padding: 10px;
    line-height: 0.5;
}
.experience img{
    margin-left: 20px;
    width: 80px;
    height: 50px;
}
.experience p{
    font-weight: bold;
    font-size: 24px;
}
.experience span{
    font-size: 10px;
}
.sticky-center{
    position: absolute;
    bottom: 0;
    height: 65vh;
    width: 100%;
}
.img-top{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: clamp(300px, 50vw, 600px);
    height: 300px;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    background: linear-gradient(to top, transparent, rgba(211, 211, 211, 0.781), #4343dfc4 100%, black, transparent);
    
}
.img-top img{
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 270px;
}
.cta-wrapper{
    display: flex;
    color: antiquewhite;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cta-btn{
    border: 1px solid white;
    padding: 8px 16px;
    border-radius: 10px;
    margin: 0 10px;
    text-decoration: none;
    color: lightblue;
    font-weight: bold;
    letter-spacing: 2px;
    transition: all 0.3s ease;
}
#say-hello{
    border-color: #4343dfa9;
    background: #4343dfa9;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 5px 0 rgba(250, 235, 215, 0.507);
    opacity: 1;
    transition: opacity 0.3s ease, border-color 0.3s ease;
}
#say-hello:hover{
    border-color: antiquewhite;
    opacity: 0.8;
}
#get-started{
    background-color: rgba(255, 255, 255, 0.205);
    backdrop-filter: blur(20px);
    opacity: 0.8;
    transition: opacity 0.3s ease, transform 0.3s ease;
    
}
#get-started:hover{
    transform: scale(1.05);
    opacity: 1;
}

.stick-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -25%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30vh;
    width: 90%;
    padding: 10px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    backdrop-filter: blur(10px);
    /* background:  linear-gradient(to bottom, #000000, #00000071), url("/images/bima.jpg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: antiquewhite;
}
.stick-bottom div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.stick-bottom h2{
    padding-bottom: 15px;
    text-align: center;
    text-decoration: underline;
}
.designer{
    width: 70%;
}
.coder{
    width: 70%;
    border-left: 2px solid grey;
}
