/* General footer styling */
footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
  font-size: 0.95rem;
  font-family: monospace;
  line-height: 1.6;
  color: antiquewhite;
  background: linear-gradient(to top, black, black, transparent )
}

/* Social media section */
.me-5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
footer .me-5 span{
    text-align: center;
  font-size: clamp(16px,3vw,24px);
  background: linear-gradient(to left,#faf,#aed,#7ff,#1aa,white,rgb(52, 114, 248),red,antiquewhite,yellow,beige,pink,#51ff51,orange,white,white);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* social media icons */
.socials{
    display: flex;
    justify-content: center;
    border-radius: 20px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;

}
.socials a{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin: 5px 10px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    transition: all 0.3s ease;
}
.socials a:active img{
    transform: scale(1.08);
}
.socials img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: all 0.5s ease;
}
/* linked in */
.linkedIn{
    background: linear-gradient(to right, blue,rgb(80, 142, 197));
}
.linkedIn:hover img{
    background: linear-gradient(to left, blue,rgb(80, 142, 197));
}
.whatsapp{
    background: linear-gradient(to right, green,rgba(163, 209, 163, 0.9));
}
.whatsapp:hover img{
    background: linear-gradient(to left, green,rgba(163, 209, 163, 0.9));
}
.facebook{
    background: linear-gradient(to bottom, blue,rgb(152, 205, 230));
}
.facebook:hover img{
    background: rgb(49, 49, 192);
}
.instagram{
    background: linear-gradient(45deg, yellow,purple, rgba(250, 51, 51, 0.822));
}
.instagram:hover img{
    background: linear-gradient(-135deg, yellow,purple, rgba(250, 51, 51, 0.822));
}
.youtube{
    background: linear-gradient(135deg, darkred, rgba(250, 51, 51, 0.822),white);
}
.youtube:hover img{
    background: linear-gradient(-45deg, rgb(107, 1, 1), rgba(250, 51, 51, 0.822),rgba(255, 255, 255, 0.685));
}


/* useful links and contact information */
.contacts-wrapper{
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.useful-links{
    background: black;
    padding: 10px 5px;
}
.useful-links h3{
    text-decoration: underline;
}
.useful-links ul{
    display: flex;
    flex-direction: column;
}
.useful-links ul a{
    color: antiquewhite;
    text-decoration: none;
    padding: 5px;
    transition: color 0.3s ease;
}
.useful-links ul a:hover{
    color: rgb(78, 137, 214);
}
.location{
    border: none;
    background: grey;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.location h3{
    text-align: center;
    text-decoration: underline;
}
.location div{
    padding: 5px;
    display: flex;
    align-items: center;
}
.tel{
    display: flex;
    flex-direction: column;

}
.location img{
    padding: 5px;
    width: 35px;
}
.copyright{
    position: absolute;
    bottom: 0;
    padding: 5px 0;
}

